<div ng-controller="MainController">
  <modal-dialog show="MainCtrl.dialogShow" id="MainCtrl.editedId" name="MainCtrl.editedName" role="MainCtrl.editedRole" save="MainCtrl.saveUser">
  </modal-dialog>
</div>
<div class="container">
  <h2>Users list</h2>
  <div class="row">
    <table class="table table-striped table-bordered">
      <th>Name</th>
      <th>Permissions</th>
      <th>Actions</th>
      <tr ng-repeat="user in MainCtrl.usersList track by user.id" id="tr{{user.id}}">
        <td>{{user.name}}</td>
        <td>{{user.role}}</td>
        <td>
          <button class="btn btn-info" ng-click="MainCtrl.showModal(user.id)">
            <span class="glyphicon glyphicon-cog"></span>
          </button>
          <button class="btn btn-danger" ng-click="MainCtrl.removeUser(user.id)">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </td>
      </tr>
    </table>
    <button ng-click="MainCtrl.showModal(-1)" class="add-button"><span class="glyphicon glyphicon-plus"></span></button>
  </div>
</div>
