/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

tr :last-child{
    text-align: center;
}

.modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.3);
  z-index: 999;
  .modal-dialog {
    z-index: 1000;
    height: 300px;
    width: 600px;
    background-color: snow;
    padding: 20px 60px 0 60px ;
    p {
      margin-top: 15px;
    }
    input {
      margin-top: -5px;
    }
    button {
      margin-top: 40px;
    }
  }
}

.add-button {
  border: none;
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 50%;
  bottom: 50px;
  right: 30px;
  background-color: lightgreen;
  color: white;
  span {
    margin-top: calc(50% - 25px);
  }
}



/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
