<div class="modal-wrapper"  ng-show='show'>
  <div class="modal-dialog">
    <h3>User</h3>
    <div class="form-group">
      <p>Name</p>
      <input type="text" class="form-control" ng-model="name"/>
      <p>Role</p>
      <input type="text" class="form-control" ng-model="role" />
      <button class="btn btn-success" ng-click="save()">Save</button>
    </div>
  </div>
</div>
